@import url('https://fonts.googleapis.com/css?family=Numans');

body {
    background-image: url("https://images.unsplash.com/photo-1444927714506-8492d94b4e3d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1476&q=80");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Numans', sans-serif;

}

.containerFooter {
    position: fixed;
    bottom: 0;
    left: 5%;
}

.card {
    position: fixed;
    height: 370px;
    margin-top: 100px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 14px;
    box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.5);
}

.card-header h3 {
    color: white;
    margin-top: 4%;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

/* -------------------------------------*/
.input-group .form-control {
    margin-bottom: 5%;
    border-style: none;
    border-radius: 8px;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    margin-top: 5%;
    color: white;
    background-color: #53C0FB;
    width: 100%;
    border-radius: 8px;
    font-weight: bold;
}

.login_btn:hover {
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

#togglePassword {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    overflow: auto;
    cursor: pointer;
    background-color: transparent;
}

#ojo {
    width: 25px;
}