@import url('https://fonts.googleapis.com/css?family=Numans');

body {
    background-image: url("https://img.freepik.com/foto-gratis/elementos-venta-eventos-cyber-monday_23-2148675059.jpg?w=1800&t=st=1692365846~exp=1692366446~hmac=a67ad441a708477f50bf157cc7bbecd96689262a76b7947f5be6615d01c4102a");
    background-attachment: fixed;
    background-position: bottom 2px right 1px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Numans', sans-serif;

}

.containerFooter {
    position: fixed;
    bottom: 0;
    left: 5%;
}

.card {
    position: fixed;
    height: 370px;
    margin-top: 100px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 14px;
    box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.5);
}

.card-header h3 {
    color: white;
    margin-top: 4%;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

/* -------------------------------------*/
.input-group .form-control {
    margin-bottom: 5%;
    border-style: none;
    border-radius: 8px;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    margin-top: 5%;
    color: white;
    background-color: #53C0FB;
    width: 100%;
    border-radius: 8px;
    font-weight: bold;
}

.login_btn:hover {
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

#togglePassword {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    overflow: auto;
    cursor: pointer;
    background-color: transparent;
}

#ojo {
    width: 25px;
}