@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: url(../img/loginfondo.jpg);
    background-position: right;
    background-size: 40%;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-items: first baseline;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important; 
    border-radius: 14px;
    box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.5);
}


/* .social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}
 */


.card-header h3{
color: white;
margin-top: 4%;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.input-group .form-control{
margin-bottom: 5%;
border-style: none;
border-radius: 8px;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    margin-top: 5%;
    color: white;
    background-color: #53C0FB;
    width: 100%;
    border-radius: 8px;
    font-weight: bold;
}

.login_btn:hover{
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}
#togglePassword{
    width: 40px;
    height: 40px;   
    border-radius: 8px;
    border: none;
    overflow: auto;
    cursor: pointer;
    background-color:transparent;
}

#ojo {
    width: 25px;
}
.text-muted{
    margin-top: 40%;
}
